/**
 * General styles
 *
 * @format
 */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #ddd;
}

header {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.search-bar {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.search-bar::placeholder {
  color: #888;
}

/* Manga Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Manga Cards */
.card {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h3 {
  font-size: 1rem;
  margin: 0.5rem;
  color: #fff;
}

/* Loading indicator */
#loading-indicator {
  font-size: 18px;
  color: #888;
}

/* Hamburger Menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.hamburger-menu .line {
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}

/* Sidebar (Navbar) */
.navbar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out;
  padding-top: 60px;
}

.navbar.open {
  left: 0; /* Slide in from the left */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  padding: 15px;
  text-align: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  background-color: #444;
}

/* Styling for Login, Signup, and Admin forms */
.auth-form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
  color: #ddd;
}

input:focus {
  border-color: #555;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #444;
  color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

/* Remove extra space when favorites are hidden */
#favorites {
  display: none;
}
